.card {
  border-radius: 20px;
  border: none;
  background: #dad7cd;
}

.cart-item {
  transition: .3s;
}

  .cart-item:hover {
    background: rgba(201, 162, 77, 0.08);
  }

.text-danger {
  cursor: pointer;
  font-size: 20px;
}

#buy {
  background: var(--rose);
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  color: white;
}

.cart-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.treasure-title {
  font-weight: 600;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--deep-blue);
}

.treasure-price {
  font-size: 1.2rem;
  font-weight: bolder;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3E2723;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* limit to 3 lines */
  -webkit-box-orient: vertical;
}

.treasure-cart1 {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--deep-blue);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* limit to 3 lines */
  -webkit-box-orient: vertical;
}


.btn-outline-secondary {
  border-width: 2px;
  border-radius: 6px;
  font-weight: 600;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ===== MODAL IMAGE ===== */
#productModal .modal-body img {
  width: 100%; /* full width of modal */
  max-height: 350px; /* fixed max height */
  object-fit: contain; /* maintain aspect ratio & crop if needed */
  border-radius: 12px; /* match card border radius */
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}


/* ===== MODAL BODY TEXT ===== */
#productModal .modal-body p {
  font-family: 'Poppins', sans-serif;
  color: var(--deep-blue);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}


/* ===== MODAL BUTTONS ===== */
#productModal .modal-footer .btn-primary {
  background: var(--rose);
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: 500;
  transition: all 0.3s;
}

  #productModal .modal-footer .btn-primary:hover {
    background: #8b5e3c;
  }

#productModal .modal-footer .btn-secondary {
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: 500;
  border: 1px solid #d6d6d6;
}

.modal-product-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 12px;
  cursor: zoom-in;
}

#productModal .low-stock {
  color: #b07a3f;
  font-weight: 500;
}

#productModal .out-stock {
  color: #C65D5D;
  font-weight: 500;
}


.checkout-modal {
  background: #dad7cd;
  border-radius: 18px;
}

.checkout-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

  .checkout-item img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
  }

.confirm-btn {
  background: var(--rose);
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  color: white;
}
