.add-product-container {
  width: 80%;
}

.form-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



.header h2 {
  font-weight: 800;
  font-size: 18px;
  color: #2f3e46;
  align-items:center;
}



label {
  font-weight: 700;
  font-size: 16px;
  color: #2f3e46;
}
