
:root {
  --green-dark: #3a5a40;
  --green-soft: #52796f;
  --gold: #c9a24d;
  --deep-blue: #2f3e46;
  --sand: #f6f1e7;
  --emerald: #52796f;
  --rose: #b56576;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.15);
  --mat-red: #e53935;
}


body {
  background: radial-gradient(circle at top, #fdf6e3, #efe6d8);
  color: var(--deep-blue);
}
html, body {
  scrollbar-width: none; 
}

/* Footer */
footer {
  background: #344e41;
  color: #f6f1e7;
  padding: 2rem 0;
  text-align: center;
}

