
:root {
  --green-dark: #3a5a40;
  --green-soft: #52796f;
  --gold: #c9a24d;
  --deep-blue: #2f3e46;
  --sand: #f6f1e7;
  --emerald: #52796f;
  --rose: #b56576;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.15);
  --mat-red: #e53935;
}


body {
  background: radial-gradient(circle at top, #fdf6e3, #efe6d8);
  color: var(--deep-blue);
}
html, body {
  scrollbar-width: none; 
}

/* Footer */
footer {
  background: #344e41;
  color: #f6f1e7;
  padding: 2rem 0;
  text-align: center;
}



/*swal*/


.my-swal-popup {
  width: 320px !important;
  padding: 1.5rem !important;
  border-radius: 14px !important;
  background: var(--sand) !important;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: var(--shadow-soft);
}

.my-swal-title {
  color: var(--green-dark) !important;
  font-size: 1.25rem !important;
  font-weight: 600;
  font-family: 'Cinzel', serif;
}

.swal2-html-container {
  color: var(--deep-blue) !important;
  font-size: 0.9rem !important;
}

.my-swal-button {
  background: var(--green-dark) !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 6px 16px !important;
  font-size: 0.85rem !important;
  border: none !important;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

  .my-swal-button:hover {
    background: var(--green-soft) !important;
  }
